//=======COLORS========

$color-primary: #43ddff;
$color-primary-light: #76deff;
$color-primary-dark: #00b4dc;

$color-background-dark: #000000;
$color-background-light: #011c32;

$color-white: #ffffff;
$color-grey: #e5e5e5;
$color-black: #000000;

$color-secondary: #ff4081;

//FONTS

$font-text: "Nunito", sans-serif;
$font-ip: "Poiret One", cursive;
$font-details: "Ubuntu", sans-serif;
$font-info: "Ubuntu Mono", monospace;
